@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700;800;900&display=swap");
@import url("https://fonts.cdnfonts.com/css/noe-display");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Suez+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");
body {
  box-sizing: border-box;
  margin: 0;
}

.container-fluid {
  overflow: hidden;
  font-family: "Oxygen", sans-serif;
}

header {
  margin-bottom: 30px;
  min-height: 100vh;
  background-color: #181829;
  color: #b3b3bb !important;
  position: relative;
}
header nav .nav-item {
  margin: 10px;
}
header button {
  padding: 10px 15px;
  border: none;
  background-color: #dd1818;
  color: white;
}
header .play {
  font-size: 30px;
  color: white;
  margin-left: 15px;
  margin-top: 5px;
}
header .svg {
  position: absolute;
  bottom: 0;
  width: 120%;
  left: -10%;
  z-index: 1;
  opacity: 0.3;
}
header h1 {
  color: white;
  font-family: "Suez One", serif;
}
header .second {
  z-index: 3;
}
header .second .box img {
  width: 100%;
}

.boxx {
  height: 200px;
  background: #ffffff;
  padding: 30px 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 15px;
  color: #110b4b;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
}

.team {
  margin: 50px auto;
  color: #242464;
}
.team .team-content {
  padding: 20px 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
}
.team h4 {
  font-weight: bold;
}
.team p {
  font-style: italic;
}
.team button {
  padding: 10px 15px;
  border: 2px solid #dd1818;
  color: #dd1818;
  background-color: white;
}
.team .team-img {
  margin-bottom: 10px;
}

.testimonial {
  margin: 50px 0;
  color: #110b4b;
}
.testimonial .icon-box {
  display: flex;
  justify-content: space-around;
}
.testimonial .icon-box .icons {
  font-size: 20px;
  color: white;
  padding: 5px;
  border-radius: 50%;
  background-color: #242464;
}

.demo {
  color: #222235;
  min-height: 50vh;
}
.demo input[type=text], .demo input[type=email], .demo textarea {
  border-radius: 0;
  background: transparent;
  border: 2px solid #222235;
}
.demo button {
  border: none;
  color: white;
  background-color: #181829;
  padding: 10px 20px;
}

footer {
  background-color: #181829;
}
footer .icons {
  margin-right: 20px;
  font-size: 20px;
}

.link {
  text-decoration: none;
}

.bg-ashblack {
  background-color: #4d4949;
}

.tx-title {
  font-family: "DM Serif Display", serif;
}

.tx-fraunces {
  font-family: "Fraunces", serif;
  font-style: italic;
}

.tx-blue {
  color: #242464;
}

.boxx {
  min-height: 20px;
}

.top-pad {
  padding-top: 9rem;
}

.tx-55 {
  font-size: 3.4rem;
  line-height: 1.1;
}

.tx-50 {
  font-size: 3.1rem;
  line-height: 1;
}

.tx-40 {
  font-size: 2.5rem;
}

.tx-14 {
  font-size: 0.875rem;
}

.tx-18 {
  font-size: 1.125rem;
}

.tx-20 {
  font-size: 1.25rem;
}

.tx-22 {
  font-size: 1.375rem;
}

.tx-30 {
  font-size: 1.875rem;
}

.tx-28 {
  font-size: 1.75rem;
}

.tx-24 {
  font-size: 1.5rem;
}

.tx-16 {
  font-size: 1rem;
}

.tx-14 {
  font-size: 0.875rem;
}

.tx-12 {
  font-size: 0.75rem;
}

.tx-9 {
  font-size: 0.52rem;
}

@media (max-width: 598px) {
  .tx-40 {
    font-size: 28px;
  }

  header img {
    width: 80%;
  }

  .testimonial {
    margin: 50px 0;
  }
  .testimonial .icon-box {
    display: flex;
    justify-content: space-between;
  }
}
nav .nav-link {
  color: white;
  transition: border-bottom 3s ease-in;
}
nav .nav-link:hover {
  border-bottom: 2px solid red;
  color: white;
  font-weight: bold;
}

.navbar-brand img {
  width: 200px;
}

.bgcolor.scrolled {
  background-color: white;
  transition: ease-in-out 0.5s;
  box-shadow: 0 0 5px #4b4949;
}
.bgcolor.scrolled .nav-link {
  color: #181829;
}
.bgcolor.scrolled button.nav-link {
  color: white;
}/*# sourceMappingURL=style.css.map */