@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700;800;900&display=swap');
@import url('https://fonts.cdnfonts.com/css/noe-display');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');


body {
  box-sizing: border-box;
  margin: 0;
 
}
.container-fluid {
  overflow: hidden;
  font-family: 'Oxygen', sans-serif;
}
header {
    // padding-bottom: 100px;
    margin-bottom: 30px;
    min-height: 100vh; 
    background-color: #181829;
    color:#b3b3bb !important;
    position: relative;
    // clip-path: ellipse(100% 100% at 50% 0%);
     nav {
       .nav-item {
         margin: 10px;
         .nav-link {
          //  color: rgb(255, 255, 255);
         }
       }
     }
    .svg {
      position: absolute; bottom: 0; width: 120%; left: -10%; z-index: 1; opacity: 0.3;
    }
     h1 {
      color:white;
      // font-family: 'Noe Display', sans-serif;
      font-family: 'Suez One', serif;
     }
      .second{
        z-index: 3;
          .box {
             img {
               width: 100%;
              //  padding-bottom: 30px;
             }
          }
        }
}


.boxx {
  height: 150px;
  background: #cecdd6;
  padding: 30px 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 15px;
}

.testimonial {
   margin: 50px 0;
   .icon-box {
     display: flex;
     justify-content: space-evenly;
    .icons {
      font-size: 30px;
      color: #242464;
    }
   }
}
.demo {
  color: #222235;
  min-height: 50vh;

  input[type="text"], input[type="email"], textarea{
    border-radius: 0;
    background: transparent;
    border: 2px solid #222235;
  }
  button {
    border: none;
    background-color: white;
    color: #181829;
    padding: 10px 20px;
  }
}

footer {
  .row {
    min-height: 30vh;
  }
}
.link {
  text-decoration: none;
}

.bg-ashblack {
  background-color:  #4d4949;
}
.tx-title {
  font-family: 'DM Serif Display', serif;
}
.tx-fraunces {
    font-family: 'Fraunces', serif;
    font-style: italic;
    // font-size: larger;
    // font-weight: 500;
    // font-size: 4rem;
}


.boxx {
  min-height: 20px;
}
.top-pad {
    padding-top: 9rem;
}
.tx-55{
    font-size: 3.4rem;
    line-height: 1.1;
  
  }
  .tx-50{
    font-size: 3.1rem;
    line-height: 1.0;
  }
  .tx-40{
    font-size: 2.5rem;
  }
  .tx-14{
    font-size: 0.875rem;
  }
  .tx-18{
    font-size: 1.125rem;
  }
  .tx-20{
    font-size: 1.25rem;
  }
  .tx-22{
    font-size: 1.375rem;
  }
  .tx-30{
    font-size: 1.875rem;
  }
  .tx-28{
    font-size: 1.75rem;
  }
  .tx-24{
    font-size: 1.5rem;
  }
  .tx-16{
    font-size: 1rem;
  }
  .tx-14{
    font-size: 0.875rem;
  }
  .tx-12{
    font-size: 0.75rem;
  }
  .tx-9{
    font-size: 0.52rem;
  }


  @media(max-width:598px) {
    .tx-40{
      font-size: 28px;
    }

    header {
      img {
        width: 80%;
      }
    }
    .testimonial {
      margin: 50px 0;
      .icon-box {
        display: flex;
        justify-content: space-between;
       .icons {
         font-size: 30px;
         color: #242464;
       }
      }
   }
  }



  // nav

  nav.nav-fixed {
    width: 100%;
    position: fixed;
    transition: 0.3s ease-in-out;
    z-index: 5;
    .nav-link {
      color: rgb(214, 216, 214);
    }
}

.nav-active {
    background-color:#fff;
    box-shadow: 5px -1px 12px -5px grey;
    .nav-link {
      color: #181829;
    }
}